{% set url = path('ads_show', {'slug': ad.slug} ) %} {# génère une url en fonction du nom de la route ads.show et du paramètre ad.slug #}

      <div class="col-md-4">
         <div class="card border-primary mb-3">
            <div class="card-header text-center">
             {{ ad.rooms }} chambres, <strong>{{ ad.price }}&euro; / nuit</strong><br/>
               <small>Pas encore noté</small>
            </div>
            <a href="{{ url }}"> {# variable twig raccourci du path('ads_show', {'slug': ad.slug} ) #}
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; width:100%; display: block">
            </a>
            <div class="card-body">
               <h4 class="card-title">
                  <a href="{{ url }}"> {# variable twig raccourci du path('ads_show', {'slug': ad.slug} ) #}
                  {{ ad.title }}
                  </a>
               </h4>
               <p class="card-text">
                  {{ ad.introduction }}
               </p>
               <a href="{{ url }} {# variable twig raccourci du path('ads_show', {'slug': ad.slug} ) #}" class="btn btn-primary">En savoir plus !</a>
            </div>
         </div>
      </div>